[Unit]
Description=GPIO microservice for handling button presses. Implements a JSON-RPC server with Publish-Subscribe extension.

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/peach-buttons
Restart=always

[Install]
WantedBy=multi-user.target
